@model WebApplication1.Models.DepartmentVM

@{
    ViewBag.Title = "Create";
}

<h2>Create New Department</h2>
<form asp-controller="department" asp-action="create" method="post" class="form-group">

    <label asp-for="Name">Name</label>
    <input type="text" asp-for="Name" class="form-control" placeholder="Please enter department name..." />
    <span class="text-danger" asp-validation-for="Name"></span>
    <br />

    <label asp-for="Code">Department Code</label>
    <input type="text" asp-for="Code" class="form-control" placeholder="Please enter department code..." />
    <span class="text-danger" asp-validation-for="Code"></span>
    <br />

    
    <center>
        <input type="submit" class="btn btn-primary" value="Save" />
    </center>

</form>

<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

