@model WebApplication1.Models.EmployeeVM

@{
    ViewBag.Title = "Update Employee";
}

<h2>Create a new Employee</h2>

<link href="~/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

<form asp-controller="Employee" asp-action="Update" method="post" class="form-group">

    <label asp-for="EmployeeName">Name</label>
    <input type="text" asp-for="EmployeeName" class="form-control" placeholder="Please enter department name..." />
    <span class="text-danger" asp-validation-for="EmployeeName"></span>
    <br />

    <label asp-for="Salary">Salary</label>
    <input type="text" asp-for="Salary" class="form-control" placeholder="Please enter Salary ..." />
    <span class="text-danger" asp-validation-for="Salary"></span>
    <br />

    <label asp-for="Address">Address</label>
    <input type="text" asp-for="Address" class="form-control" placeholder="Please enter address name..." />
    <span class="text-danger" asp-validation-for="Address"></span>
    <br />

    <label asp-for="Email">Email Address</label>
    <input type="email" asp-for="Email" class="form-control" placeholder="Please enter department name..." />
    <span class="text-danger" asp-validation-for="Email"></span>
    <br />


    <label asp-for="HireDate">Hire Date</label>
    <input type="date" asp-for="HireDate" class="form-control" placeholder="Please enter department name..." />
    <span class="text-danger" asp-validation-for="departmentId"></span>
    <br />

    <label asp-for="Notes">Notes</label>
    <textarea asp-for="Notes" class="form-control" placeholder="Notes" rows="4"></textarea>
    <span class="text-danger" asp-validation-for="Notes"></span>
    <br />

    <label asp-for="IsActive">Name</label>

    <div class="form-check">
        <input asp-for="IsActive" class="form-check-input" type="checkbox">
        <label asp-for="IsActive" class="form-check-label">
            Is Active
        </label>
    </div>
    <span class="text-danger" asp-validation-for="IsActive"></span>
    <br />


    <label asp-for="departmentId">Department</label>
    <select asp-for="departmentId" asp-items="@(SelectList)ViewBag.DepartmentList">
    </select>
    <span class="text-danger" asp-validation-for="Notes"></span>
    <br /><br />
    @*
        ways to fill the select dropdown list using tag helper: examples
        (search online how to fill a dropdown list using taghelper)
            1. using ViewBag.departmentList = new SelectList(data, "DeptId", "Name");
    *@

    <center>
        <input type="submit" class="btn btn-primary" value="Edit" />
    </center>

</form>




<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>



